<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bienvenido a ANPEWeb</title>
    {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bs/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static  'bs/css/simple-sidebar.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css'%}" />
    <script src="{% static 'jquery/jquery-2.2.0.min.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


  <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    <li><a href="{%url 'index'%}">Personas por localidad</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		Listados de móviles<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'todos_moviles' %}">Moviles de todos los afiliados</a></li>
		<li role="separator" class="divider"></li>
                <li><a href="{% url 'mvi' %}">Moviles de interinos maestros</a></li>
		<li><a href="{% url 'mvieemm' %}">Moviles de interinos EEMM</a></li>
                <li role="separator" class="divider"></li>
                <!--<li class="dropdown-header">Nav header</li>-->
                <li><a href="{% url 'movilesmaestrosfuncionarios' %}">Moviles de funcionarios maestros</a></li>
		<li><a href="{% url 'movileseemmfuncionarios' %}">Moviles de funcionarios EEMM</a></li>
              </ul>
            </li>
	    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		Listados de emails<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'joomla_todos' %}">
		    Emails de todos los afiliados (CSV)</a>
		</li>
		<li role="separator" class="divider"></li>
                <li><a href="{% url 'joomla_maestros_interinos' %}">Emails de interinos maestros (CSV)</a></li>
		<li><a href="{% url 'joomla_eemm_interinos' %}">Emails de interinos EEMM (CSV)</a></li>
                <li role="separator" class="divider"></li>
                <!--<li class="dropdown-header">Nav header</li>-->
                <li><a href="{% url 'joomla_maestros_funcionarios' %}">Emails de funcionarios maestros (CSV)</a></li>
		<li><a href="{% url 'joomla_eemm_funcionarios' %}">Emails de funcionarios EEMM (CSV)</a></li>
              </ul>
            </li>
	    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		Recibos<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'excel_q' %}">
		    Recibos 2016_R0 (XLS)</a>
		</li>
		
              </ul>
            </li>
	    <li><a href="javascript:window.print()">Imprimir</a>'
</li>
          </ul>
	</div><!--/.nav-collapse -->
      </div>
    </nav>
<br/><br/><br/>	
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div >
	{% block contenido %}
        <p>Por favor, elige una opción del menú.</p>
        {% endblock %}
      </div>

    </div> <!-- /container -->









    <!-- Bootstrap Core JavaScript -->
    <script src="{% static  'bs/js/bootstrap.min.js'%}"></script>
</body>

</html>